@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.albert-sans {
    font-family: "Albert Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.poppins {
    font-family: "Poppins", sans-serif;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;

    color: white;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;

    background-color: #0B0B15;
}

body::-webkit-scrollbar {
    width: 12px;           /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: #0b0b15;        /* color of the tracking area */
}
  
body::-webkit-scrollbar-thumb {
    background-color: #9000ff;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid #0b0b15;  /* creates padding around scroll thumb */
}

.hidden {
    opacity: 0;
    filter: blur(15px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    transition: all 1s;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px; /* Ajuste de padding */
    background-color: #0b0b15;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.botao-volta {
    display: flex;
    position: fixed;

    margin-top: 30px;
    margin-left: 30px;

    animation: float-volta 1s ease-in-out infinite;
}

@keyframes float-volta {
    0% {
        transform: translatey(0px);
    }
    50% {
        transform: translatey(-5px);
    }
    100% {
        transform: translatey(0px);
    }
}

.logo-header {
    display: flex;
}

.logo-header img {
    width: 230px;
    height: auto;

    margin-left: 50px;
}

.nav {
    display: flex;
    align-items: center;
}

.links-page ul {
    display: flex;
    list-style: none;
    font-family: Poppins;
    font-weight: 300;
    font-size: 18px;
    gap: 60px;
}

.links-page li a {
    text-decoration: none;
}

.links-page li a:hover {
    text-decoration: underline;
}

/* ----------- */

.infos-critic-geral {
    display: flex;
    flex-direction: row;

    background-image: url('/assets/img/fundo-roxo.gif');
    background-size: cover;

    height: 910px;
    gap: 300px;

    align-items: center;
    justify-content: center;
}

.titlle-critic h1 {
    font-family: Poppins;
    font-size: 45px;
    font-weight: 700;
    color: white;

    width: 550px;
    margin-bottom: 20px;
}

.titlle-critic p {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 400;
    color: white;

    width: 500px;
    margin-bottom: 40px;
}

.cadastro-app p {
    font-family: Poppins;
    font-size: 15px;
    font-weight: 400;
    color: white;

    width: 500px;
    margin-bottom: 5px;
}

.cadastro-app a button {
    text-decoration: none;
    outline: none;

    font-family: Poppins;
    font-size: 20px;
    font-weight: 700;
    color: white;

    width: 230px;
    height: 45px;

    background-color: #9000ff;
    border: 1px solid transparent;
    border-radius: 5px;

    cursor: pointer;

    transition: ease 0.2s;
}

.cadastro-app a button:hover {
    border: 1px solid white;
    background-color: transparent;
}

.div-prototipo img {
    width: 550px;
    height: auto;

    transform: translatey(0px);
    animation: float-icons 4s ease-in-out infinite;
}

@keyframes float-prototipo {
    0% {
        transform: translatey(0px);
    }
    50% {
        transform: translatey(-5px);
    }
    100% {
        transform: translatey(0px);
    }
}

.porque h2 {
    font-family: Poppins;
    font-weight: 500;
    font-size: 35px;
}

/* ----------- */

.porque-geral {
    display: flex;
    flex-direction: column;

    background-color: #0B0B15;
    margin-top: 100px;
}

.porque-desc {
    display: flex;
    flex-direction: row;

    text-align: center;
    justify-content: center;
    align-items: end;

    gap: 250px;

    margin-top: 50px;
}

.porque-desc img {
    width: 120px;
    transform: translatey(0px);
    animation: float-icons 3s ease-in-out infinite;
}

@keyframes float-icons {
    0% {
        transform: translatey(0px);
    }
    50% {
        transform: translatey(-10px);
    }
    100% {
        transform: translatey(0px);
    }
}

.feedbacks img {
    margin-bottom: 10px;
}

.porque-desc h3 {
    font-family: Poppins;
    font-weight: 500;
    font-size: 20px;

    margin-top: 10px;
}

.porque-desc p {
    font-family: Poppins;
    font-weight: 300;
    font-size: 15px;

    width: 300px;

    margin-top: 10px;
}

/* ----------- */

.funcionalidade-geral {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
}

.funcionalidade-geral-div {
    width: 1400px;
}

.funcionalidade {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;
}

.funcionalidade-desc {
    display: flex;
    flex-direction: column;
}

.funcionalidade-desc h2 {
    font-family: Poppins;
    font-weight: 500;
    font-size: 38px;
}

.funcionalidade-desc p {
    font-family: Poppins;
    font-weight: 300;
    font-size: 30px;

    width: 800px;

    margin-top: 15px;
}

/* ----------- */

.funcionalidade2 {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;
}

.funcionalidade-desc2 {
    display: flex;
    flex-direction: column;
}

.imagem-aside2 img {
    width: 337px;
    height: auto;

    margin-left: 50px;
}

.funcionalidade-desc2 h2 {
    font-family: Poppins;
    font-weight: 500;
    font-size: 38px;
}

.funcionalidade-desc2 p {
    font-family: Poppins;
    font-weight: 300;
    font-size: 30px;

    width: 800px;

    margin-top: 15px;
}

/* ----------- */

.gifs-geral {
    display: flex;
    flex-direction: column;
    gap: 50px;

    margin-top: 80px;
}

.gif-avaliacao-geral {
    display: flex;

    align-items: center;
    justify-content: center;
}

.gif-avaliacao {
    display: flex;
    flex-direction: row;
    position: relative;

    align-items: center;
    justify-content: space-around;

    background-color: #0B0B15;
    width: 100%;
    height: auto;

    gap: 80px;

    border: 2px solid #9000FF; 
    border-radius: 60px;

    padding: 50px;
}

.gif-avaliacao img {
    width: 600px;
    height: auto;
}

.funcionalidade3 {
    display: flex;
    flex-direction: row;

    margin-top: 80px;
}

.funcionalidade3 h2 {
    font-size: 35px;
    font-weight: 500;

    margin-top: 130px;
}

.funcionalidade3 p {
    margin-top: 20px;
    font-size: 24px;
    font-weight: 300;
}

.gif-conteudo {
    display: flex;
    flex-direction: column;

    font-family: Poppins;
}

.gif-conteudo h2 {
    font-size: 35px;
    font-weight: 500;
}

.gif-conteudo p {
    margin-top: 15px;
    font-size: 24px;
    font-weight: 300;
}

/* ----------- */

.biblioteca-geral {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: space-between;

    margin-top: 100px;

    font-family: Poppins;
}

.biblioteca-gradiente-geral {
    background-image: url('/assets/img/jogos.png');
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;

    width: 100%;
    height: 1700px;

    margin-top: -300px;

    align-items: center;
    justify-content: center;

    gap: 150px;
}

.biblioteca-geral2 {
    display: flex;
    flex-direction: row;

    gap: 130px;

    align-items: center;
    justify-content: space-between;
}

.biblioteca h2 {
    font-family: Poppins;
    font-weight: 500;
    font-size: 35px;
}

.biblioteca p {
    font-family: Poppins;
    font-weight: 300;
    font-size: 30px;

    margin-top: 20px;

    width: 750px;
}

.biblioteca-gradiente {
    display: flex;
    flex-direction: column;

    width: auto;
    margin-top: 400px;

    align-items: center;
    justify-items: center;
}

#number {
    display: flex;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 150px;
    
    background: linear-gradient(to bottom, #9000FF, #5EC3FF);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    
    background-size: 100% 200%; 
    animation: gradienteAnimacao 3s alternate infinite; 
}

@keyframes gradienteAnimacao {
    0% {
        background-position: 100% 0%; 
    }
    100% {
        background-position: 100% 100%; 
    }
}

#jogos {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;

    align-self: center;

    font-size: 45px;
    margin-top: -30px;
}

.caixa-icons-jogos {
    display: flex;
    flex-direction: row;
    gap: 70px;
}

.caixa-icons {
    display: flex;
    flex-direction: column;
    background-color: #5011818f;
    border: 1px solid #CF4CFF;
    border-radius: 30px;

    width: 350px;
    height: 300px;

    align-items: center;
    justify-content: center;
}

#c1 {
    width: 170px;
}

#c2 {
    width: 210px;
}

#c3 {
    width: 280px;
    margin-top: 8px;
}

.biblioteca-gradiente-geral h1 {
    font-family: Poppins;
    font-weight: 600;
    font-size: 95px;

    animation: brilho 1s alternate infinite;
}

@keyframes brilho {
    0% {
        text-shadow:#A5EFFF 0 0 30px;
    }
    100% {
        text-shadow:#A5EFFF 0 0 50px;
    }
}

/* ----------- */

.socios-geral {
    display: flex;
    flex-direction: column;

    background-image: url(/assets/img/fundo-linha.png);
    background-size: cover;
    background-repeat: no-repeat;

    align-items: center;
    justify-content: space-around;
}

.socios-titulo {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 70px;
}

.socios-titulo h1 {
    font-family: Poppins;
    font-weight: 500;
    font-size: 40px;
}

#socios-brilho {
    font-weight: 700;
}

.socios {
    display: flex;
    flex-direction: column;

    gap: 100px;
    margin-bottom: 150px;
}

.socios-linha1 :nth-child(2) {
    transition-delay: 400ms;
}

.socios-linha1 :nth-child(3) {
    transition-delay: 700ms;
}

.socios-linha1 :nth-child(4) {
    transition-delay: 1000ms;
}

.socios-linha1 {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-between;

    gap: 100px;
}

#socios-caixa {
    display: flex;
    flex-direction: column;
    width: 191px;
    height: 322px;

    align-items: center;
    justify-content: space-between;
}

.socios-pessoa {
    display: flex;
    flex-direction: column;
    
}

.socios-pessoa img {
    width: 191px;
    height: auto;
}

.nome h2 {
    font-family: Poppins;
    font-weight: 600;
    text-align: center;
    line-height: 25px;
}

.cargo {
    display: flex;
    border: 1px solid white;
    border-radius: 60px;
    width: 65px;
    height: 30px;

    align-items: center;
    justify-content: center;

    font-family: Poppins;
    font-weight: 300;
    font-size: 17px;
}

.cargo-l {
    display: flex;
    border: 1px solid white;
    border-radius: 60px;
    width: 100px;
    height: 30px;

    align-items: center;
    justify-content: center;

    font-family: Poppins;
    font-weight: 300;
    font-size: 17px;
}

/* ----------- */

footer {
    display: flex;
    flex-direction: column;
    background-color: #0F0F19;

    font-family: Poppins;

    padding: 100px 270px 20px 270px;
}

.footer {
    display: flex;
    flex-direction: row;

    align-items: flex-start;
    justify-content: space-between;
}

.logo-footer {
    display: flex;
    flex-direction: column;
}

.logo-footer img {
    width: 130px;
    height: auto;
}

.logo-footer p {
    font-weight: 300;
    font-size: 15px;
    width: 250px;
}

.infos-footer {
    display: flex;
    flex-direction: row;

    gap: 100px;
}

.infos-footer h5 {
    font-weight: 300;
    font-size: 18px;

    margin-bottom: 8px;
}

.infos-footer p {
    font-weight: 300;
    font-size: 18px;

    margin-bottom: 8px;
}

.infos-footer a {
    text-decoration: none;
}

.infos-footer a:hover {
    text-decoration: underline;
}

.quero-infos-footer {
    display: flex;
    flex-direction: column;
}

.quero-infos h5 {
    font-weight: 600;
    font-size: 18px;

    margin-bottom: 15px;
}

.quero-infos a button {
    text-decoration: none;
    outline: none;

    font-family: Poppins;
    font-size: 20px;
    font-weight: 700;
    color: white;

    width: 230px;
    height: 45px;

    background-color: #9000ff;
    border: 1px solid transparent;
    border-radius: 5px;

    margin-bottom: 15px;

    cursor: pointer;

    transition: ease 0.2s;
}

.quero-infos a button:hover {
    border: 1px solid white;
    background-color: transparent;
}

#divisor {
    border-bottom: 1px solid #787878;

    margin-top: 70px;
}

.social-footer {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-between;

    margin-top: 10px;
}

.social-icons a i {
    margin-left: 10px;

    cursor: pointer;
}

.fiveup-footer {
    display: flex;
    flex-direction: row;

    align-items: center;
}

.fiveup-footer img {
    width: 139px;
    height: auto;

    margin-right: 20px;
}

.copyright p {
    font-weight: 200;
    font-size: 15px;
    color: white;
}

#email {
    display: flex;
    flex-direction: row;

    align-items: center;
    gap: 5px;
}